<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- development tools -->
  <package id="bat" />
  <package id="gh" />
  <package id="git" />
  <package id="gzip" />
  <package id="neovim" />
  <package id="powershell-core" />
  <package id="ripgrep" />
  <package id="tree-sitter" />
  <package id="wget" />

  <!-- development languages -->
  <package id="deno" />
  <package id="luarocks" />
  <package id="nodejs" />
  <package id="python2" />
  <package id="python3" />
  <package id="ruby" />
</packages>
